h3 {
    text-align: center;
    font-size: xx-large;
}
.Ticket {
    display: flex;
    justify-content: flex-end;
    color: black;
}
.ticketword {
    margin: auto;
    padding: 0em;
    border: 5px solid black;
}
h1 {
    text-align: center;
    border: 10px solid rgb(12, 156, 55);
    margin-bottom: auto;
}